<a href="https://colab.research.google.com/github/Yashveer-Gahlot/Assignments/blob/main/Database_SQL_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Differentiating between SQL and NoSQL databases

# A database is a tool that organizes and stores information

# SQL

# -> its a RDBMS(relational databse management system)
# -> the databases hae fixed or static or predefined schema

# -> its not suitable for hierarchical data storage

# -> Vertically Scalable

# -> Follows ACID propety

# NoSQL

# -> its non RDBMS
# -> they have dynamic schema
# -> its suitable for hierarchial data storage
# -> Horizontal scalable
# -> Follows CAP

In [ ]:

# DDL stands for Data Definition Language, a subset of SQL commands used to define and manage the structure of a database and its objects (like tables, indexes, schemas, etc.).

# CREATE: Used to create a new database object like a table, view, or index.
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(50),
    Department VARCHAR(50),
    Salary DECIMAL(10, 2)
);


# DROP: Used to delete existing database objects permanently.

DROP TABLE Employees;


# ALTER: Used to modify the structure of an existing database object, such as adding or dropping columns.


ALTER TABLE Employees ADD Email VARCHAR(100);



# TRUNCATE: Used to delete all rows from a table but retains the table structure.

TRUNCATE TABLE Employees;

In [ ]:
# DML stands for Data Manipulation Language, a subset of SQL commands used to manipulate the data stored in a database


# INSERT: Adds new records (rows) to a table.


# INSERT INTO table_name (column1, column2, ...)
# VALUES (value1, value2, ...);


# INSERT INTO Employees (EmployeeID, Name, Department, Salary)
# VALUES (101, 'Alice', 'HR', 50000);



# UPDATE: Modifies existing records in a table.

# UPDATE table_name
# SET column1 = value1, column2 = value2, ...
# WHERE condition;

# UPDATE Employees
# SET Salary = 55000
# WHERE EmployeeID = 101;


# DELETE: Removes records from a table.


# DELETE FROM table_name
# WHERE condition;


# DELETE FROM Employees
# WHERE EmployeeID = 101;

In [ ]:
# DQL stands for Data Query Language, a subset of SQL commands used to query or retrieve data from a database.

# Examples :-

# SELECT column1, column2, ...
# FROM table_name;


# SELECT Name, Department
# FROM Employees;


# SELECT *
# FROM Employees;

In [ ]:
# Primary Key
# It is the uniquely identify key of a table and NULL values are not allowed.

# Forgien Key
# It is the primary Key of another table that is used in another table its has almost same characterstics as of primary Key.

In [ ]:

import mysql.connector


connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

cursor = connection.cursor()
cursor.execute("SELECT * FROM your_table")


# The cursor() method creates a cursor object, which acts as an interface to interact with the database.

# The execute() method is used to execute SQL queries or statements via the cursor object.

In [ ]:

# When an SQL query is executed, the clauses are processed in a specific logical order, which may differ from the written order in the query.

# Logical execution order for the example:
SELECT Department, AVG(Salary) AS AvgSalary
FROM Employees
WHERE Salary > 50000
GROUP BY Department
HAVING AVG(Salary) > 60000
ORDER BY AvgSalary DESC
LIMIT 5;

# FROM: Identify the table Employees.
# WHERE: Filter rows where Salary > 50000.
# GROUP BY: Group the remaining rows by Department.
# HAVING: Filter groups where AVG(Salary) > 60000.
# SELECT: Retrieve Department and the calculated AVG(Salary) as AvgSalary.
# ORDER BY: Sort the results by AvgSalary in descending order.
# LIMIT: Return the top 5 rows.